@model ShopM4.Models.Product


<div class="card filter @Model.Category.Name.Replace(' ','_')" style="float:left;width: 18rem;">
    <img src="@PathManager.ImageProductPath@Model.Image" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">
            @Model.ShortDescription
        </p>
        <span class="badge text-bg-primary">Primary</span>
        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Details</a>
    </div>
</div>