@model ShopM4.Models.ViewModels.ProductUserViewModel

<h1> Summary </h1>


<form asp-action="SummaryPost">

    <!-- User -->
    <p>
        <label>Name</label>
        <input type="text" asp-for="@Model.ApplicationUser.FullName" class="form-control" />
    </p>

    <p>
        <label>Phone</label>
        <input type="text" asp-for="@Model.ApplicationUser.PhoneNumber" class="form-control" />
    </p>

    <p>
        <label>Email</label>
        <input type="text" asp-for="@Model.ApplicationUser.Email" class="form-control" />
    </p>


    <!-- Products -->

    @for (int i = 0; i < Model.ProductList.Count(); i++)
    {
        <input type="hidden" asp-for="@Model.ProductList[i].Id" />

        <p>
            Product Name: @Model.ProductList[i].Name
        </p>

        <p>
            Price: @Model.ProductList[i].Price
        </p>
    }


    <p>
        <button type="submit" class="btn btn-success form-control">Submit</button>
    </p>

</form>
